/*--------------- ----Global style---------------------- */
/* apply a natural box layout model to all elements, but allowing component to change */
html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Gothic A1", "Noto Sans SC", "Assistant", sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
main {
  margin-top: 125px;
}
.btn-next {
  padding: 16px 70px;
  font-size: 17px;
  color: #fff;
  background-color: #eb1f1b;
  border: none;
}
.btn-next:hover {
  padding: 14px 68px;
  font-size: 17px;
  color: #fff;
  background-color: #eb1f1b;
  border: 2px solid #fff;
}
.btn-back {
  padding: 16px 70px;
  font-size: 17px;
  color: #000;
  background-color: #fff;
  border: none;
}
.btn-back:hover {
  padding: 14px 68px;
  font-size: 17px;
  color: #000;
  background-color: #fff;
  border: 2px solid #eb1f1b;
}

/*--------------- -----Headers--------------------- */
.public-header {
  position: relative;
}
.top-login {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #e3e0e0;
  text-align: right;
}
.top-login a {
  display: inline-block;
  width: 150px;
  height: 100%;
  margin-right: -5px;
  border-left: 1px solid black;
  color: black;
  text-align: center;
  padding: 1% 0;
}

.top-login a:hover {
  border-bottom: 1px solid #eb1f1b;
}

.top-login img {
  max-height: 13px;
}

nav {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  height: 75px;
  background: white;
  border: 1px solid #e3e0e0;
  overflow: hidden;
}

nav .menu-link {
  display: inline-block;
  width: 200px;
  height: 100%;
  color: black;
  font-size: 20px;
  text-align: center;
  margin-right: -4px;
  line-height: 75px;
}
nav .menu-link:hover {
  border-bottom: 5px solid #eb1f1b;
}
nav img {
  height: 21px;
}
nav .menu-link-search {
  float: right;
  padding: 25px;
  border-left: 1px solid #e3e0e0;
}

nav .logo {
  display: inline-block;
  width: 300px;
  height: 100%;
  font-family: "Saira", sans-serif;
  font-style: italic;
  font-size: 20px;
  text-decoration-line: underline;
  text-decoration-color: black;
  color: white;
  background: #eb1f1b;
  border: 1px solid #eb1f1b;
  text-align: center;
  line-height: 75px;
}

/*--------------------welcome teaser grid--------------------- */
.teaser-grid {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 60% 39%;
  grid-column-gap: 11px;
}
.teaser-col-1 {
  background-image: url("../images/landingpage_assets/welcome_22714862561_09edd9810c_z.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 20px;
}
.teaser-col-2 {
  display: inline-grid;
  grid-template-columns: 100%;
  grid-template-rows: 300px 300px;
  grid-row-gap: 20px;
}
.teaser-col-2 .teaser-little-1 {
  display: flex;
  align-items: flex-end;
  background-image: url("../images/landingpage_assets/order_card_5417026496_a22a500886_o.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.teaser-col-2 .teaser-little-2 {
  background-image: url("../images/landingpage_assets/4183753319_f857dc9400_z.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.welcome-headline {
  width: 80%;
  max-width: 10em;
  font-size: 57px;
  font-weight: bold;
  color: white;
  background-color: rgba(138, 86, 80, 0.5);
  padding: 20px;
  margin-top: 20%;
  margin-bottom: 10px;
}
.direct-link {
  display: inline-block;
  color: white;
  font-size: 20px;
  width: 80%;
  max-width: 15em;
  background-color: rgba(138, 86, 80, 0.5);
  border-bottom: 4px solid #eb1f1b;
  padding: 20px 20px 20px 20px;
}

.direct-link:hover {
  background: #eb1f1b;
  border-bottom: 4px solid #fff;
}
/*--------------------secure teaser--------------------- */
.teaser-secure {
  display: flex;
  background-color: #f1ece5;
  width: 100%;
  margin-top: 20px;
  padding: 30px 0;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-align: center;
  justify-content: center;
}
.teaser-secure div {
  display: flex;
  justify-content: center;
  max-width: 40%;
}
.teaser-secure h1 {
  margin-right: 70px;
  color: #b24020;
  font-size: 40px;
}
.teaser-secure .direct-link {
  width: 100%;
  max-width: 300px;
  height: 60px;
  margin-top: 30%;
}

/*--------------------product & services teaser--------------------- */
.teaser-product-service {
  width: 100%;
  margin-top: 20px;
}

.teaser-product-service .row-1 {
  display: flex;
  justify-content: center;
}
.teaser-product-service .row-2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 300px;
}
.teaser-product-service .row-2 .col-1 {
  display: flex;
  align-items: flex-end;
  width: 32%;
  max-width: 32%;
  padding-left: 20px;
  background-image: url("../images/landingpage_assets/card_account_6554795787_d38c6ec5bd_z.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.teaser-product-service .row-2 .col-2 {
  display: flex;
  align-items: flex-end;
  width: 32%;
  max-width: 32%;
  padding-left: 20px;
  background-image: url("../images/landingpage_assets/transfert_payment_4777247084_2924a0f3ed_z.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.teaser-product-service .row-2 .col-3 {
  display: flex;
  align-items: flex-end;
  width: 32%;
  max-width: 32%;
  padding-left: 20px;
  background-image: url("../images/landingpage_assets/download_doc_30284670277_27617ff1dd_n.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/*--------------------footer--------------------- */
.footer {
  margin-top: 55px;
  padding-top: 30px;
  background-color: #f2f2f2;
  color: #000;
}
.footer-list {
  display: flex;
  justify-content: space-around;
}
.footer-list ul {
  list-style-type: none;
  color: #000;
}
.footer-list ul li a:hover {
  text-decoration-line: underline;
}
.footer-list ul li:first-child {
  font-weight: bold;
  margin-bottom: 10px;
}
.footer-row {
  display: flex;
  justify-content: space-around;
}
.footer-row .legal-info {
  margin: 30px 60px;
  font-size: 14px;
  text-align: center;
}
.footer-row .legal-info a {
  color: #2977c9;
  font-weight: bold;
}
.footer-row .legal-info a:hover {
  text-decoration-line: underline;
}

/*--------------------Open-account-title--------------------- */

@media (min-width: 967px) {
  .open-account-title {
    text-align: center;
    margin: 225px 15% 0 15%;
    justify-content: center;
    font-size: 0px;
  }
  .open-account-title h1 {
    font-size: 30px;
    margin-bottom: 50px;
  }

  .open-account-title .step a {
    display: inline-block;
    padding: 7px 30px;
    font-size: 14px;
    border-bottom: 5px solid #000;
    border-right: 2px solid #fff;
  }
  .open-account-title a p {
    display: inline;
  }
  .open-account-title a span {
    display: none;
  }
}
@media (max-width: 966px) {
  .open-account-title {
    width: 90%;
    max-width: 667px;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
    font-size: 0px;
  }
  .open-account-title h1 {
    font-size: 25px;
    margin-bottom: 50px;
  }
  .open-account-title .step a {
    display: inline-block;
    width: 25%;
    padding: 7px 20px;
    font-size: 11px;
    border-bottom: 5px solid #000;
    border-right: 2px solid #fff;
  }
  .open-account-title a p {
    display: none;
  }
  .open-account-title a span {
    display: inline;
  }
}

/*--------------------Open-account-intro--------------------- */

@media (min-width: 967px) {
  .open-account-intro {
    width: 70%;
  }
}
@media (max-width: 966px) {
  .open-account-intro {
    width: 90%;
  }
}
.open-account-intro {
  max-width: 667px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #f2f2f2;
  font-size: 17px;
}
.open-account-intro header {
  display: flex;
  padding: 30px 30px;
  border-bottom: 1px solid #e3e0e0;
}
.open-account-intro footer {
  padding: 30px 30px;
  border-top: 1px solid #e3e0e0;
  text-align: end;
}
.open-account-intro .col-1 img {
  width: 32px;
}
.open-account-intro .col-2 {
  display: flex;
  align-items: center;
}
.open-account-intro header .col-2 span {
  padding-left: 13px;
}
@media (max-width: 750px) {
  .open-account-intro .main-content {
    display: block;
    padding: 30px;
  }
  .open-account-intro .main-content .col-1 {
    margin-bottom: 10px;
  }
}
@media (min-width: 750px) {
  .open-account-intro .main-content {
    display: flex;
    padding: 30px;
  }
  .open-account-intro .main-content .col-1 {
    max-width: 30%;
    min-width: 182px;
    margin-right: 20px;
  }
}
.open-account-intro .main-content input[type="radio"] {
  width: 22px;
  height: 16px;
}

.open-account-intro .main-content .col-2 {
  display: block;
}
.open-account-intro .main-content .col-2 .col-2-row {
  display: flex;
}
.open-account-intro .main-content .col-2 .col-2-row div:nth-of-type(2) {
  padding-left: 10px;
}
.open-account-intro .main-content .col-2 .col-2-row div:nth-of-type(2) p {
  display: none;
}
