/*--------------- ----Global style---------------------- */
/* apply a natural box layout model to all elements, but allowing component to change */
html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Gothic A1", "Noto Sans SC", "Assistant", sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
main {
  margin-top: 125px;
}
.btn-next {
  width: 28%;
  height: 50px;
  min-width: 133.57px;
  font-size: 17px;
  color: #fff;
  background-color: #eb1f1b;
  border: none;
}
.btn-next:hover {
  font-size: 17px;
  color: #fff;
  background-color: #eb1f1b;
  border: 2px solid #fff;
}
.btn-back {
  display: inline-flex;
  width: 28%;
  height: 50px;
  min-width: 133.57px;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: #000;
  background-color: #fff;
  border: 1px solid #e3e0e0;
}
.btn-back:hover {
  font-size: 17px;
  color: #000;
  background-color: #fff;
  border: 2px solid #eb1f1b;
}
.flex {
  display: flex;
}
.inline-block {
  display: inline-block;
}

/*--------------- -----Headers--------------------- */
.public-header {
  position: relative;
}
.top-login {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #e3e0e0;
  text-align: right;
}
.top-login a {
  display: inline-block;
  width: 150px;
  height: 100%;
  margin-right: -5px;
  border-left: 1px solid black;
  color: black;
  text-align: center;
  padding: 1% 0;
}

.top-login a:hover {
  border-bottom: 1px solid #eb1f1b;
}

.top-login img {
  max-height: 13px;
}

nav {
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
  right: 0;
  height: 75px;
  background: white;
  border: 1px solid #e3e0e0;
  overflow: hidden;
}

nav .menu-link {
  display: inline-block;
  width: 200px;
  height: 100%;
  color: black;
  font-size: 20px;
  text-align: center;
  margin-right: -4px;
  line-height: 75px;
}
nav .menu-link:hover {
  border-bottom: 5px solid #eb1f1b;
}
nav img {
  height: 21px;
}
nav .menu-link-search {
  float: right;
  padding: 25px;
  border-left: 1px solid #e3e0e0;
}

nav .logo {
  display: inline-block;
  width: 300px;
  height: 100%;
  font-family: "Saira", sans-serif;
  font-style: italic;
  font-size: 20px;
  text-decoration-line: underline;
  text-decoration-color: black;
  color: white;
  background: #eb1f1b;
  border: 1px solid #eb1f1b;
  text-align: center;
  line-height: 75px;
}

/*--------------------welcome teaser grid--------------------- */
.teaser-grid {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 60% 39%;
  grid-column-gap: 11px;
}
.teaser-col-1 {
  background-image: url("../images/landingpage_assets/welcome_22714862561_09edd9810c_z.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 20px;
}
.teaser-col-2 {
  display: inline-grid;
  grid-template-columns: 100%;
  grid-template-rows: 300px 300px;
  grid-row-gap: 20px;
}
.teaser-col-2 .teaser-little-1 {
  display: flex;
  align-items: flex-end;
  background-image: url("../images/landingpage_assets/order_card_5417026496_a22a500886_o.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.teaser-col-2 .teaser-little-2 {
  background-image: url("../images/landingpage_assets/4183753319_f857dc9400_z.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.welcome-headline {
  width: 80%;
  max-width: 10em;
  font-size: 57px;
  font-weight: bold;
  color: white;
  background-color: rgba(138, 86, 80, 0.5);
  padding: 20px;
  margin-top: 20%;
  margin-bottom: 10px;
}
.direct-link {
  display: inline-block;
  color: white;
  font-size: 20px;
  width: 80%;
  max-width: 15em;
  background-color: rgba(138, 86, 80, 0.5);
  border-bottom: 4px solid #eb1f1b;
  padding: 20px 20px 20px 20px;
}

.direct-link:hover {
  background: #eb1f1b;
  border-bottom: 4px solid #fff;
}
/*--------------------secure teaser--------------------- */
.teaser-secure {
  display: flex;
  background-color: #f1ece5;
  width: 100%;
  margin-top: 20px;
  padding: 30px 0;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-align: center;
  justify-content: center;
}
.teaser-secure div {
  display: flex;
  justify-content: center;
  max-width: 40%;
}
.teaser-secure h1 {
  margin-right: 70px;
  color: #b24020;
  font-size: 40px;
}
.teaser-secure .direct-link {
  width: 100%;
  max-width: 300px;
  height: 60px;
  margin-top: 30%;
}

/*--------------------product & services teaser--------------------- */
.teaser-product-service {
  width: 100%;
  margin-top: 20px;
}

.teaser-product-service .row-1 {
  display: flex;
  justify-content: center;
}
.teaser-product-service .row-2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 300px;
}
.teaser-product-service .row-2 .col-1 {
  display: flex;
  align-items: flex-end;
  width: 32%;
  max-width: 32%;
  padding-left: 20px;
  background-image: url("../images/landingpage_assets/card_account_6554795787_d38c6ec5bd_z.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.teaser-product-service .row-2 .col-2 {
  display: flex;
  align-items: flex-end;
  width: 32%;
  max-width: 32%;
  padding-left: 20px;
  background-image: url("../images/landingpage_assets/transfert_payment_4777247084_2924a0f3ed_z.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.teaser-product-service .row-2 .col-3 {
  display: flex;
  align-items: flex-end;
  width: 32%;
  max-width: 32%;
  padding-left: 20px;
  background-image: url("../images/landingpage_assets/download_doc_30284670277_27617ff1dd_n.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/*--------------------footer--------------------- */
.footer {
  margin-top: 55px;
  padding-top: 30px;
  background-color: #f2f2f2;
  color: #000;
}
.footer-list {
  display: flex;
  justify-content: space-around;
}
.footer-list ul {
  list-style-type: none;
  color: #000;
}
.footer-list ul li a:hover {
  text-decoration-line: underline;
}
.footer-list ul li:first-child {
  font-weight: bold;
  margin-bottom: 10px;
}
.footer-row {
  display: flex;
  justify-content: space-around;
}
.footer-row .legal-info {
  margin: 30px 60px;
  font-size: 14px;
  text-align: center;
}
.footer-row .legal-info a {
  color: #2977c9;
  font-weight: bold;
}
.footer-row .legal-info a:hover {
  text-decoration-line: underline;
}

/*--------------------Open-account-title--------------------- */

@media (min-width: 967px) {
  .open-account-title {
    text-align: center;
    margin: 225px 15% 0 15%;
    justify-content: center;
    font-size: 0px;
  }
  .open-account-title h1 {
    font-size: 30px;
    margin-bottom: 50px;
  }

  .open-account-title .step a {
    padding: 7px 30px;
    font-size: 14px;
  }

  .open-account-title .step a p {
    display: inline;
  }
  .open-account-title .step a span {
    display: none;
  }
}
@media (max-width: 966px) {
  .open-account-title {
    width: 90%;
    max-width: 667px;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
    font-size: 0px;
  }
  .open-account-title h1 {
    font-size: 25px;
    margin-bottom: 50px;
  }
  .open-account-title .step a {
    width: 25%;
    padding: 7px 20px;
    font-size: 11px;
  }
  .open-account-title .step a p {
    display: none;
  }
  .open-account-title .step a span {
    display: inline;
  }
}
.open-account-title .step a {
  display: inline-block;
  position: relative;
  padding-bottom: 12px;
  border-right: 2px solid #fff;
}
.open-account-title .step a::before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
}
.open-account-title .step .link-step-2::before,
.open-account-title .step .link-step-3::before,
.open-account-title .step .link-step-4::before {
  content: "";
  width: 50%;
  height: 5px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
}
.open-account-title .step .link-step-2::after,
.open-account-title .step .link-step-3::after,
.open-account-title .step .link-step-4::after {
  content: "";
  width: 49%;
  height: 5px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 50.5%;
}

/*--------------------Open-account-intro--------------------- */

@media (min-width: 967px) {
  .open-account,
  .open-account-summarize,
  .open-account-confirmation {
    width: 70%;
  }
}
@media (max-width: 966px) {
  .open-account,
  .open-account-summarize,
  .open-account-confirmation {
    width: 90%;
  }
}
.open-account,
.open-account-summarize,
.open-account-confirmation {
  max-width: 667px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #f2f2f2;
  font-size: 17px;
}
.open-account header {
  padding: 30px 30px;
  border-bottom: 1px solid #e3e0e0;
}
.open-account-summarize header {
  padding: 30px;
}
.open-account-confirmation header,
.open-account-confirmation footer {
  padding: 30px;
}
.open-account header .row-1 {
  display: flex;
}
.open-account footer {
  padding: 30px 30px;
  border-top: 1px solid #e3e0e0;
  text-align: end;
}
.open-account-summarize footer {
  padding: 30px 30px;
  text-align: end;
}
.open-account header .col-1 {
  display: flex;
  align-items: center;
}
.open-account .col-1 img {
  width: 32px;
  max-height: 40;
}
.open-account .col-2 {
  display: flex;
  align-items: center;
}
.open-account .col-2 h3 {
  padding-left: 10px;
  font-size: 20px;
}
.open-account header .col-2 span {
  padding-left: 13px;
}
@media (max-width: 750px) {
  .open-account .main-content {
    padding: 0 30px 30px 30px;
  }
  .open-account .main-content .row {
    display: block;
    margin-top: 30px;
  }
  .open-account .main-content .col-1 {
    margin-bottom: 10px;
  }
}
@media (min-width: 750px) {
  .open-account .main-content {
    padding: 0 30px 30px 30px;
  }
  .open-account .main-content .row {
    display: flex;
    margin-top: 30px;
  }
  .open-account .main-content .col-1 {
    display: flex;
    max-width: 30%;
    min-width: 182px;
    margin-right: 20px;
  }
}
.open-account .main-content .row-error,
.open-account-summarize .main-content .row-error {
  display: flex;
  color: #eb1f1b;
  font-size: 14px;
}
.open-account .main-content input[type="radio"] {
  width: 22px;
  height: 16px;
}

.open-account .main-content .col-2 {
  display: block;
  width: 90%;
}
.open-account .main-content .col-2 .col-2-row {
  position: relative;
}
.open-account .main-content .col-2 .col-2-row div:nth-of-type(2) {
  padding-left: 10px;
}
.open-account .main-content .col-2 .col-2-row div:nth-of-type(2) p {
  display: none;
}

.open-account .main-content .grid-npa-city {
  display: inline-grid;
  grid-template-columns: 30% 70%;
  align-items: baseline;
}
.open-account .main-content .col-2 .grid-npa-city div:nth-of-type(2) {
  padding-left: 0;
}
.open-account .form-input {
  display: flex;
  position: relative;
}
.open-account .form-date {
  max-width: 175px;
}
.open-account .input {
  width: 100%;
  padding: 7px;
  font-size: 17px;
  letter-spacing: 1px;
  border: 0;
  color: #444;
  background-color: #f2f2f2;
  border-bottom: 1px solid #888;
  outline: none;
}
.input-npa {
  width: 100%;
  padding: 7px;
  font-size: 17px;
  letter-spacing: 1px;
  border: 0;
  color: #444;
  background-color: #f2f2f2;
  border-bottom: 1px solid #888;
  outline: none;
}
.open-account .input-select {
  width: 100%;
  padding: 7px;
  font-size: 17px;
  letter-spacing: 1px;
  color: #444;
  background-color: #f2f2f2;
  border: 1px solid #888;
  outline: none;
  -webkit-appearance: button;
}
.open-account .form-select:before {
  content: "\f13a";
  font-family: "fontAwesome";
  position: absolute;
  right: 0;
  top: 0;
  width: 10%;
  height: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  color: #444;
  pointer-events: none;
}
.open-account .form-select:hover::before {
  background-color: #ccc;
  border: 1px solid #888;
  border-left: none;
}
.open-account .form-phone {
  padding-left: 15%;
}
.open-account .form-phone::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  text-align: center;
  background-image: url("../images/landingpage_assets/icons8-switzerland-48.png");
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: 11px 4px;
  border-bottom: 1px solid #888;
}
.open-account .input ~ .input-focus-border,
.open-account .input-npa ~ .input-npa-focus-border {
  padding: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
}
.open-account .input ~ .input-focus-border:before,
.open-account .input ~ .input-focus-border:after,
.open-account .input-npa ~ .input-npa-focus-border:before,
.open-account .input-npa ~ .input-npa-focus-border:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #eb1f1b;
  transition: 0.4s;
}
.open-account .input ~ .input-focus-border:after,
.open-account .input-npa ~ .input-npa-focus-border:after {
  left: auto;
  right: 0;
}
.open-account .input:focus ~ .input-focus-border:before,
.open-account .input:focus ~ .input-focus-border:after,
.open-account .input-npa:focus ~ .input-npa-focus-border:before,
.open-account .input-npa:focus ~ .input-npa-focus-border:after {
  width: 50%;
  transition: 0.4s;
}
.open-account .input:focus ~ .input-focus-border,
.open-account .input-npa:focus ~ .input-npa-focus-border {
  border-left: 2px solid #eb1f1b;
  border-right: 0;
}

/*--------------------Open-account-summarize--------------------- */
.open-account-summarize .main-content {
  padding: 0 30px 30px 30px;
}
.open-account-summarize article {
  padding-bottom: 30px;
  border-top: 1px solid #e3e0e0;
  border-bottom: 1px solid #e3e0e0;
}
.open-account-summarize img {
  width: 32px;
  max-height: 40;
}

.open-account-summarize .main-content article .head {
  padding-bottom: 15px;
}
.open-account-summarize .main-content article .head .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.open-account-summarize .main-content article .head .row .title-img {
  display: flex;
  align-items: center;
}
.open-account-summarize .main-content article .head .row .title-text {
  padding-left: 13px;
}
.open-account-summarize .main-content article .head .row .col-2 .link-update {
  display: flex;
  width: 100px;
  height: 32px;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #e3e0e0;
  border-radius: 10px;
  opacity: 0.8;
}
.open-account-summarize
  .main-content
  article
  .head
  .row
  .col-2
  .link-update:hover {
  color: #222;
  opacity: 1;
  font-weight: bold;
}
.open-account-summarize
  .main-content
  article
  .head
  .row
  .col-2
  .link-update
  img {
  width: 20px;
}
.open-account-summarize .main-content article .data-list .row {
  display: inline-grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  padding: 4px 0 4px 0;
}
.open-account-summarize .main-content article .data-list .row .col-2 {
  text-overflow: ellipsis;
  /*white-space: nowrap;*/
  overflow: hidden;
}
.open-account-summarize .main-content .general-terms-conditions {
  margin-top: 50px;
}
.open-account-summarize .main-content .general-terms-conditions .row {
  display: flex;
}
.open-account-summarize .main-content .general-terms-conditions .col-1 {
  width: 33px;
  min-width: 33px;
}
.open-account-summarize .main-content .general-terms-conditions .col-2 {
  display: flex;
  align-items: center;
}
.open-account-summarize .main-content .general-terms-conditions input {
  width: 19px;
  height: 19px;
  margin-right: 10px;
}

/*--------------------Open-account-confirmation--------------------- */
.open-account-confirmation .main-content {
  padding: 0 30px 30px 30px;
}
.open-account-confirmation .main-content ul li {
  margin-bottom: 10px;
}
.open-account-confirmation .main-content .download {
  margin-bottom: 10px;
}
